
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.page{
  min-height: 100vh;
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  background:#eae8e8;
}

.content{
    margin: 0 auto 60px auto;
    font-family: "Roboto Mono", monospace;
    padding: 24px 32px 32px 32px;
    place-items: center;
    text-align: center;
    width: min(70%, 960px);
    background:#eae8e8;
    box-sizing: border-box;
}

input {
  text-align: center;
}

input::placeholder {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.tip {
  margin-top: 8px;
  font-size: 18px;
  font-style: italic;
  color: #5f5f5f;
  text-align: center;
  line-height: 1.35;
}

.join-form input {
  width: 200px;
}

.join-form button { width: 200px; }